.conteudo{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.titles-sobre h1{
    font-size: 5em;
    font-weight: 100;
}
.titles-sobre p{
    font-size: 1em;
    font-weight: 500;
}
.color-name{
    color: var(--color-primary);
    font-weight: 600 !important;
    margin-top: -30px;
    margin-left: 100px;
}

a{
    text-decoration: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cm{
    font-size: .8rem;
    font-weight: 700;
    color: black;
    padding: 12px 27px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    background-color: var(--color-primary);
    background-image: linear-gradient(90deg, var(--color-primary) .2%, #fff 100%);
}
.buttons a{
    transition: all .5s;
}
.buttons a:hover{
    opacity: .8;
}

.cv, .ce{
    font-size: .8rem;
    font-weight: 700;
    color: black;
    width: 40%;
    padding: 12px 27px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    background-color: var(--color-primary);
    background-image: linear-gradient(90deg, var(--color-primary) .2%, #fff 100%);
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ce{
    border: 3px solid var(--color-primary);
    background-color: transparent !important;
    background-image: none;
    color: #fff;
}

.cv:hover, 
.ce:hover{
    opacity: .8;
}

.sobre-mim{
    margin-top: -50px !important;
}

.sobre-divisor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.sobre-divisor div img{
    width: 300px;
    border-radius: 100%;
    border: 5px solid var(--color-primary);
    margin-left: 50px;
}

@media (max-width:920px){
    .eu-img{
        width: 320px;
    }
}
@media(max-width: 840px){
    .sobre-divisor div img{
        width: 250px;
    }
}
@media(max-width: 765px){
    .sobre-divisor div img{
        display: none;
    }
    .sobre-divisor{
        width: 80%;
        margin: 20px auto;
    }
    .sobre-divisor div div button{
        margin-top: 20px;
    }
}
@media(max-width:730px){
    .buttons button{
        font-size: 0.8rem;
        padding: 10px 20px;
        
    }
}
@media(max-width:580px){
    .cv, .ce{
        width: 50%;
    }
}
@media(max-width:555px){
    .conteudo{
        display: block;
        margin: 0 auto;
        margin-top: 70px;
    }
    .eu-img{
        width: 250px;
        margin: 30px auto;
        display: block;
    }
    .sobre-mim{
        margin: 20px auto;
    }
    .buttons button{
        width: 100%;
    }
    .buttons{
        flex-direction: column;
    }
}
@media(max-width:470px){
    .cv, .ce{
        padding: 5px 18px;
    }
    .sobre-divisor{
        width: 95%;
    }
}
@media(max-width:360px){
    .cv, .ce{
        font-size: .65em;
    }
}

