
h1,
h3{
  color: var(--color-h1);
}
p{
  color: var(--color-paragraph);
  padding: 5px;
}
main,
footer{
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 40px;
  overflow: hidden;
}
.title{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.hidden{
  overflow: hidden !important;
}
.arrow{
  width: 20px;
  margin-right: 5px;
}
@media(max-width: 1055px){
  main,
  footer{
    margin: 0 15px;
  }
}
@media(max-width:730px){
  h1{
      font-size: 1.8em;
  }
}
@media(max-width:622px){
  h1{
      font-size: 1.5em;
  }
}

