@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
  --color-background: #000000;
  --color-primary: #00e7f9;
  --color-secundary-background:#080808;
  --color-paragraph: #78797a;
  --color-h1: #fff;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-background);
  font-family: 'Bebas Neue', cursive;
  overflow-x: hidden;
  min-width: 320px;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
